@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body {
  font-family: 'Mate SC', serif;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  
  text-shadow:
       4px 2px 1px #300000,
       4px 4px 1px #400000,
       4px 6px 1px #500000,
       4px 7px 1px #600000,
       4px 12px 1px #700000;
       

}

.container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

}

.button {

  padding: 5px 20px;
  /* margin: 0px 20px; */
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.6);
  transition: ease-out .25s;

}

.button:hover {
  transform: scale(1.1);
}